@charset "UTF-8";
/* Bourbon 4.0.2
 * http://bourbon.io
 * Copyright 2011–2014 thoughtbot, inc.
 * MIT License */
/* Neat 1.6.0
 * http://neat.bourbon.io
 * Copyright 2012–2014 thoughtbot, inc.
 * MIT License */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/**
 * Changes the display property used by other mixins called in the code block argument.
 *
 * @param {String} $display (block) - Display value to be used within the block. Can be `table` or `block`.
 *
 * @example scss
 *   @include display(table) {
 *    .display-table {
 *      @include span-columns(6);
 *     }
 *   }
 *
 * @example css
 *   // CSS
 *   .display-table {
 *      display: table-cell;
 *      ...
 *   }
 */
/**
 * Changes the direction property used by other mixins called in the code block argument.
 *
 * @param {String} $direction (left-to-right) - Layout direction to be used within the block. Can be `left-to-right` or `right-to-left`.
 *
 * @example scss
 *   @include direction(right-to-left) {
 *    .right-to-left-block {
 *      @include span-columns(6);
 *     }
 *   }
 *
 * @example css
 *   // CSS
 *   .right-to-left-block {
 *     float: right;
 *      ...
 *   }
 */
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix {
  clear: both;
}

@media screen and (max-width: 767px) {
  .clearFixMob {
    clear: both;
  }
}

.hideDesk {
  display: none;
}

@media screen and (max-width: 767px) {
  .hideMob {
    display: none;
  }

  .hideDesk {
    display: block;
  }
}
.heading {
  font-size: 1.5em;
  text-align: left;
}

.boldText {
  font-weight: bold;
}

.centerContent {
  text-align: center;
}

.gal_container {
  position: relative;
}

.container .container-overlay {
  display: none;
  position: absolute;
  width: 100%;
  background: #000;
  opacity: 0.7;
  top: 0;
  left: 0;
}
.container .container-overlay.disabled {
  display: block;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -ms-transition: all .5s;
}

header#id_home {
  margin: 0 auto;
  text-align: center;
  background: #a80000;
  color: #f2f8f8;
  position: relative;
  overflow: hidden;
}
header#id_home .headerContainer {
  width: 1000px;
  margin: 100px auto 75px auto;
}
@media screen and (max-width: 767px) {
  header#id_home .headerContainer {
    width: 100%;
    margin: 75px 0 50px 0;
  }
}
@media screen and (min-width: 767px) and (max-width: 1000px) {
  header#id_home .headerContainer {
    width: 760px;
    margin: 75px auto 50px auto;
  }
}
header#id_home .headerContainer .leftSpace {
  float: left;
  width: 400px;
}
@media screen and (min-width: 767px) and (max-width: 1000px) {
  header#id_home .headerContainer .leftSpace {
    width: 300px;
  }
}
@media screen and (max-width: 767px) {
  header#id_home .headerContainer .leftSpace {
    float: none;
    width: 100%;
  }
}
header#id_home .headerContainer .rightSpace {
  float: right;
  width: 500px;
  padding: 40px 0;
}
@media screen and (min-width: 767px) and (max-width: 1000px) {
  header#id_home .headerContainer .rightSpace {
    width: 400px;
  }
}
@media screen and (max-width: 767px) {
  header#id_home .headerContainer .rightSpace {
    float: none;
    width: 100%;
    padding: 20px 0;
  }
}
header#id_home .headerContainer .rightSpace .circle {
  width: 130px;
  height: 130px;
  margin-left: -15px;
  border-radius: 65px;
  display: inline-block;
  position: relative;
  font-size: 55px;
  text-align: center;
}
header#id_home .headerContainer .rightSpace .circle i {
  line-height: 2.5;
}
@media screen and (min-width: 767px) and (max-width: 1000px) {
  header#id_home .headerContainer .rightSpace .circle i {
    line-height: 3.1;
  }
}
header#id_home .headerContainer .rightSpace .circle .status {
  position: absolute;
  left: 0;
  width: 100%;
  font-size: 14px;
  color: #AAA;
}
header#id_home .headerContainer .rightSpace .circle .status.top {
  top: -25px;
}
@media screen and (max-width: 767px) {
  header#id_home .headerContainer .rightSpace .circle .status.top {
    top: -15px;
  }
}
@media screen and (min-width: 767px) and (max-width: 1000px) {
  header#id_home .headerContainer .rightSpace .circle .status.top {
    top: -20px;
  }
}
header#id_home .headerContainer .rightSpace .circle .status.bottom {
  bottom: -25px;
}
@media screen and (max-width: 767px) {
  header#id_home .headerContainer .rightSpace .circle .status.bottom {
    bottom: -15px;
  }
}
@media screen and (min-width: 767px) and (max-width: 1000px) {
  header#id_home .headerContainer .rightSpace .circle .status.bottom {
    bottom: -20px;
  }
}
@media screen and (max-width: 767px) {
  header#id_home .headerContainer .rightSpace .circle .status {
    font-size: 12px;
  }
}
@media screen and (max-width: 767px) {
  header#id_home .headerContainer .rightSpace .circle {
    width: 80px;
    height: 80px;
    margin-left: -10px;
    border-radius: 40px;
    font-size: 34px;
  }
}
@media screen and (min-width: 767px) and (max-width: 1000px) {
  header#id_home .headerContainer .rightSpace .circle {
    width: 100px;
    height: 100px;
    margin-left: -10px;
    border-radius: 50px;
    font-size: 34px;
  }
}
header#id_home .headerContainer .rightSpace .circle1 {
  background: rgba(94, 141, 241, 0.7);
}
header#id_home .headerContainer .rightSpace .circle1.active {
  background: #5e8df1;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -ms-transition: all .5s;
}
header#id_home .headerContainer .rightSpace .circle2 {
  background: rgba(255, 204, 0, 0.6);
}
header#id_home .headerContainer .rightSpace .circle2.active {
  background: rgba(255, 204, 0, 0.8);
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -ms-transition: all .5s;
}
header#id_home .headerContainer .rightSpace .circle7 {
  background: rgba(151, 201, 230, 0.7);
}
header#id_home .headerContainer .rightSpace .circle7.active {
  background: #97c9e6;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -ms-transition: all .5s;
}
header#id_home .headerContainer .rightSpace .circle3 {
  background: rgba(0, 255, 153, 0.6);
}
header#id_home .headerContainer .rightSpace .circle3.active {
  background: rgba(0, 255, 153, 0.8);
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -ms-transition: all .5s;
}
header#id_home .headerContainer .rightSpace .circle4 {
  background: rgba(239, 239, 239, 0.6);
}
header#id_home .headerContainer .rightSpace .circle4.active {
  background: rgba(239, 239, 239, 0.8);
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -ms-transition: all .5s;
}
header#id_home h1 {
  margin: 0;
  font-weight: 300;
  font-size: 5em;
  line-height: 1.3;
  position: relative;
}
header#id_home h1 span {
  display: block;
  padding: 0 0 0.6em 0.1em;
  font-size: 60%;
  opacity: 0.7;
}
@media screen and (max-width: 767px) {
  header#id_home h1 {
    font-size: 2.5em;
  }
}
@media screen and (min-width: 767px) and (max-width: 1000px) {
  header#id_home h1 {
    font-size: 4em;
  }
}
header#id_home .countdown .timerSec {
  display: inline-block;
  position: relative;
  margin: 10px;
  text-align: center;
  color: #AAA;
}
header#id_home .countdown .timerSec:after {
  content: ':';
  position: absolute;
  top: 10px;
  right: -15px;
}
header#id_home .countdown .timerSec:last-child:after {
  content: '';
}
header#id_home .countdown .timerSec div {
  font-size: 28px;
}
header.mobileHeader {
  display: none;
  width: 100%;
  color: #fff;
  padding: 6px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  font-size: 26px;
  background: #a80000;
  text-align: center;
}
header.mobileHeader .menu {
  position: absolute;
  left: -5px;
  top: 50%;
  margin-top: -15px;
  width: 50px;
  height: 34px;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  header.mobileHeader {
    display: block;
  }
}

nav.mobileNav {
  display: none;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -ms-transition: all .5s;
  position: fixed;
  z-index: 99999;
  top: 46px;
  left: -230px;
  width: 230px;
  height: 100%;
  background: #a80000;
  color: #fff;
}
nav.mobileNav ul li {
  padding: 10px 20px;
  cursor: pointer;
  border-bottom: 1px solid #fff;
}
nav.mobileNav ul li:first-child {
  border-top: 1px solid #fff;
}
nav.mobileNav ul li i:before {
  padding-right: 10px;
}
@media screen and (max-width: 767px) {
  nav.mobileNav {
    display: block;
  }
}
nav.topNavigation {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0%;
  z-index: 999;
  background: #a80000;
}
nav.topNavigation .leftNav {
  float: left;
}
nav.topNavigation .leftNav .small_logo {
  width: 120px;
  height: 50px;
  margin-left: 40px;
  background: url("../images/ignite_logo.png") no-repeat;
  background-size: 100% 100%;
}
nav.topNavigation .leftNav .igniteTiltLogo {
  width: 100px;
  height: 50px;
  background: #fff url("../images/ignite_logo.png") no-repeat center;
  background-size: 90px 40px;
  margin: 0 65px;
  position: relative;
}
nav.topNavigation .leftNav .igniteTiltLogo:before {
  display: block;
  content: "";
  height: 0;
  width: 0;
  border: 25px solid #fff;
  border-top: 25px solid transparent;
  border-left: 25px solid transparent;
  position: absolute;
  left: -50px;
}
nav.topNavigation .leftNav .igniteTiltLogo:after {
  display: block;
  content: "";
  height: 0;
  width: 0;
  border: 25px solid #fff;
  border-bottom: 25px solid transparent;
  border-right: 25px solid transparent;
  position: absolute;
  right: -50px;
}
nav.topNavigation .rightNav {
  float: right;
}
nav.topNavigation .rightNav ul {
  list-style-type: none;
  margin: 5px 40px;
}
nav.topNavigation .rightNav ul li {
  display: inline-block;
  cursor: pointer;
  padding: 10px 15px;
  color: #fff;
}
nav.topNavigation .rightNav ul li.active {
  color: #ffff00;
}
nav.topNavigation .rightNav ul li:hover {
  color: orange;
}
@media screen and (max-width: 767px) {
  nav.topNavigation {
    display: none;
  }
}
nav.scrolled {
  background: #a80000 url("../images/ignite_bg.png") repeat;
}

@media screen and (max-width: 767px) {
  footer {
    text-align: center;
  }
}
footer .fot_content {
  width: 100%;
  padding: 10px;
}
@media screen and (max-width: 767px) {
  footer .fot_content {
    display: inline-block;
    padding: 0;
  }
}
footer .fot_content .cell {
  width: 20%;
  float: left;
  margin: 2%;
}
footer .fot_content .cell a {
  text-decoration: none;
}
footer .fot_content .cell h4 {
  color: #a80000;
}
@media screen and (max-width: 767px) {
  footer .fot_content .cell {
    float: none;
    width: 100%;
    text-align: left;
    margin: 2% 0;
    padding: 5px 20px;
    border-radius: 5px;
  }
}
@media screen and (max-width: 767px) {
  footer .fot_content .cell .sLeft {
    float: left;
    width: 50%;
  }
}
@media screen and (max-width: 767px) {
  footer .fot_content .cell .sRight {
    float: right;
    width: 45%;
  }
}
footer .fot_content .cell .person {
  margin: 10px 0;
}
footer .fot_content .cell .person span {
  display: block;
  color: #777;
}
footer .fot_content .cell .person span:first-child {
  color: #1a1a1a;
}
footer .fot_content .cell .map {
  text-align: center;
}
footer .fot_content .cell .map img {
  width: 180px;
  height: 180px;
  border-radius: 90px;
  border: 2px solid #aaa;
}
footer .fot_content .cell.social img {
  width: 40px;
  height: 40px;
}
footer .fot_content .cell.social img:hover {
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -ms-transition: all .5s;
  opacity: 0.6;
}
footer .fot_content .cell.social .app {
  width: 44px;
  height: 44px;
  display: inline-block;
}
footer .fot_content .cell.social .app:hover {
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -ms-transition: all .5s;
  opacity: 0.6;
}
footer .fot_content .cell.social .androidIcon {
  color: #A4C739;
  font-size: 36px;
}
footer .fot_content .cell.social .appleIcon {
  color: #fff;
  font-size: 36px;
}

section {
  margin: 0;
  padding: 10px;
}
section:nth-child(odd) {
  background: #D3D1C8;
}
section:nth-child(even) {
  background: #F3F0E8;
}
section .content {
  width: 90%;
  margin: 5px auto;
  position: relative;
}
section .content .nextLink {
  height: 30px;
  position: absolute;
  bottom: 0;
}
section .content .heading {
  margin-bottom: 10px;
}
section .content .about_container .left {
  float: left;
  width: 45%;
  padding: 10% 2% 0 0;
}
section .content .about_container .left .avnet_logo {
  float: right;
  width: 200px;
  height: 60px;
  background: url("../images/avnet_logo.png") no-repeat center;
  background-size: 100% 100%;
}
@media screen and (max-width: 767px) {
  section .content .about_container .left .avnet_logo {
    float: none;
    width: 125px;
    height: 37.5px;
    padding: 0;
  }
}
section .content .about_container .left .ignite_logo {
  float: right;
  width: 181px;
  height: 80px;
  margin-top: -10px;
  background: url("../images/ignite_logo.png") no-repeat center;
  background-size: 100% 100%;
}
@media screen and (max-width: 767px) {
  section .content .about_container .left .ignite_logo {
    width: 125px;
    height: 50px;
    padding: 0;
  }
}
@media screen and (max-width: 767px) {
  section .content .about_container .left {
    float: none;
    width: 100%;
    padding: 0;
  }
}
section .content .about_container .right {
  float: right;
  width: 55%;
  border-left: 1px solid #aaa;
  padding-left: 2%;
}
section .content .about_container .right p {
  margin: 20px 0;
  text-align: justify;
}
@media screen and (max-width: 767px) {
  section .content .about_container .right {
    float: none;
    width: 100%;
    padding: 0;
    border: 0;
  }
}
section .categorySlider {
  display: inline-block;
}
section .categorySlider .slide {
  display: none;
}
section .categorySlider .slide:first-child {
  display: block;
}
section .categorySlider.blockSlider {
  display: block;
  width: 80%;
  margin: 0 auto;
}
@media screen and (min-width: 767px) and (max-width: 1000px) {
  section .categorySlider.blockSlider {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  section .categorySlider.blockSlider {
    width: 100%;
  }
}
section .guests_container {
  text-align: center;
}
section .guests_content {
  margin: 10px auto;
  display: inline-block;
}
section .guests_content .ch-grid {
  margin: 0px 0 0 0;
  padding: 0;
  list-style: none;
  display: block;
  text-align: center;
  width: 100%;
}
@media screen and (max-width: 767px) {
  section .guests_content .ch-grid {
    margin: 0;
  }
}
section .guests_content .ch-grid:after,
section .guests_content .ch-item:before {
  content: '';
  display: table;
}
section .guests_content .ch-grid:after {
  clear: both;
}
section .guests_content .ch-grid li {
  width: 220px;
  height: 220px;
  display: inline-block;
  margin: 0 20px 10px 20px;
}
@media screen and (max-width: 767px) {
  section .guests_content .ch-grid li {
    margin: 5px;
  }
}
section .guests_content .ch-item {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  cursor: default;
  box-shadow: inset 0 0 0 10px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
section .guests_content .ch-img-1 {
  background-image: url(../images/guests/stephen.jpg);
  background-size: 100% 100%;
}
section .guests_content .ch-img-2 {
  background-image: url(../images/guests/paul.jpg);
  background-size: 100% 100%;
}
section .guests_content .ch-img-3 {
  background-image: url(../images/guests/borysko.jpg);
  background-size: 100% 100%;
}
section .guests_content .ch-img-4 {
  background-image: url(../images/guests/pearse.jpg);
  background-size: 100% 100%;
}
section .guests_content .ch-info {
  position: absolute;
  background: rgba(63, 147, 147, 0.8);
  width: inherit;
  height: inherit;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-backface-visibility: hidden;
}
section .guests_content .ch-info h3 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 22px;
  margin: 0 30px;
  padding: 45px 0 0 0;
  height: 140px;
  font-family: 'Open Sans', Arial, sans-serif;
  text-shadow: 0 0 1px #fff, 0 1px 2px rgba(0, 0, 0, 0.3);
}
section .guests_content .ch-info p {
  color: #fff;
  padding: 10px 5px;
  margin: 0 30px;
  font-size: 12px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  opacity: 0;
  -webkit-transition: all 1s ease-in-out 0.4s;
  -moz-transition: all 1s ease-in-out 0.4s;
  -o-transition: all 1s ease-in-out 0.4s;
  -ms-transition: all 1s ease-in-out 0.4s;
  transition: all 1s ease-in-out 0.4s;
}
section .guests_content .ch-info p a {
  display: block;
  color: #fff;
  color: rgba(255, 255, 255, 0.7);
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 9px;
  letter-spacing: 1px;
  padding-top: 4px;
  font-family: 'Open Sans', Arial, sans-serif;
}
section .guests_content .ch-info p a:hover {
  color: #fff222;
  color: rgba(255, 242, 34, 0.8);
}
section .guests_content .ch-item:hover {
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
}
section .guests_content .ch-item:hover .ch-info {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
section .guests_content .ch-item:hover .ch-info p {
  opacity: 1;
}
section .guests_content .gbox {
  width: 200px;
  height: 300px;
  margin: 10px;
  float: left;
}
section .guests_content .gbox .pict {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background-size: 100% 100%;
}
section .guests_content .gbox .gName {
  text-align: center;
  margin: 5px;
}
section .guests_content .gbox .gDesig {
  text-align: center;
  color: #778;
}
section .box {
  width: 275px;
  height: 250px;
  display: inline-block;
  vertical-align: top;
  background: #fff;
  cursor: pointer;
  margin: 10px;
  text-align: left;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -ms-transition: all .5s;
  text-align: left;
}
section .box .box_img {
  height: 150px;
  background: #aaa;
  margin-bottom: 15px;
}
section .box .box_img img {
  width: 100%;
  height: 150px;
}
section .box .box_topic {
  padding: 0 10px;
}
section .box .box_speakers {
  padding: 0 10px;
  font-size: 0.8em;
  color: #999;
}
section .box:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}
section .timeline {
  /* The line */
  /* The date/time */
  /* Right content */
  /* The triangle */
  /* The icons */
  /* Example Media Queries */
}
section .timeline .cbp_tmtimeline {
  margin: 30px 0 0 0;
  padding: 0;
  list-style: none;
  position: relative;
}
section .timeline .cbp_tmtimeline:before {
  content: '';
  position: absolute;
  top: 10px;
  bottom: 0;
  width: 10px;
  background: #D3D1C8;
  left: 20%;
  margin-left: -10px;
}
section .timeline .cbp_tmtimeline li {
  position: relative;
}
section .timeline .cbp_tmtimeline > li .cbp_tmtime {
  display: block;
  width: 25%;
  padding-right: 100px;
  position: absolute;
}
section .timeline .cbp_tmtimeline > li .cbp_tmtime span {
  display: block;
  text-align: right;
}
section .timeline .cbp_tmtimeline > li .cbp_tmtime span:first-child {
  font-size: 0.9em;
  display: none;
  color: #777;
}
section .timeline .cbp_tmtimeline > li .cbp_tmtime span:last-child {
  font-size: 24px;
  color: #000;
  line-height: 2.3;
}
section .timeline .cbp_tmtimeline > li:nth-child(odd) .cbp_tmtime span:last-child {
  color: #000;
}
section .timeline .cbp_tmtimeline > li .cbp_tmlabel {
  margin: 0 0 15px 25%;
  background: #D3D1C8;
  color: #000;
  padding: 20px;
  font-size: 1em;
  text-align: justify;
  line-height: 1.4;
  position: relative;
  border-radius: 5px;
}
section .timeline .cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel {
  background: #D3D1C8;
}
section .timeline .cbp_tmtimeline > li .cbp_tmlabel h2 {
  margin-top: 0px;
  padding: 0 0 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
section .timeline .cbp_tmtimeline > li .cbp_tmlabel:after {
  right: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-right-color: #D3D1C8;
  border-width: 10px;
  top: 20px;
}
section .timeline .cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
  border-right-color: #D3D1C8;
}
section .timeline .cbp_tmtimeline > li .cbp_tmicon {
  width: 40px;
  height: 40px;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 1.4em;
  line-height: 40px;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  color: #fff;
  background: #a80000;
  border-radius: 50%;
  box-shadow: 0 0 0 8px #D3D1C8;
  text-align: center;
  left: 20%;
  top: 10px;
  margin: 0 0 0 -25px;
}
section .timeline .cbp_tmicon i.icon-presentation {
  font-size: 18px;
  font-weight: bold;
}
section .timeline .cbp_tmicon-phone:before {
  content: "\e000";
}
section .timeline .cbp_tmicon-screen:before {
  content: "\e001";
}
section .timeline .cbp_tmicon-mail:before {
  content: "\e002";
}
section .timeline .cbp_tmicon-earth:before {
  content: "\e003";
}
section .timeline .cbp_tmlabel .schContent {
  display: none;
  margin: 10px 0;
}
section .timeline .cbp_tmlabel h3.showDesc {
  position: relative;
  cursor: pointer;
}
section .timeline .cbp_tmlabel h3.showDesc .leftItem {
  float: left;
  width: 49%;
}
section .timeline .cbp_tmlabel h3.showDesc .rightItem {
  float: right;
  width: 49%;
}
section .timeline .cbp_tmlabel h3.showDesc .title {
  font-size: 18px;
}
section .timeline .cbp_tmlabel h3.showDesc .roomName {
  font-size: 14px;
  color: #a80000;
}
section .timeline .cbp_tmlabel h3.showDesc .button {
  position: absolute;
  right: 10px;
  top: 50%;
  border: 0;
  color: #000;
  height: 30px;
  font-size: 20px;
  margin-top: -15px;
  cursor: pointer;
  background: transparent;
}
@media screen and (max-width: 767px) {
  section .timeline .cbp_tmlabel h3.showDesc .button {
    display: none;
  }
}
section .timeline .mer {
  display: inline;
  color: #aaa;
  font-size: 16px;
}
@media screen and (max-width: 65.375em) {
  section .timeline .cbp_tmtimeline > li .cbp_tmtime span:last-child {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 47.2em) {
  section .timeline .cbp_tmtimeline:before {
    display: none;
  }
  section .timeline .cbp_tmtimeline > li .cbp_tmtime {
    width: 100%;
    position: relative;
    padding: 0 0 20px 0;
  }
  section .timeline .cbp_tmtimeline > li .cbp_tmtime span {
    text-align: left;
  }
  section .timeline .cbp_tmtimeline > li .cbp_tmlabel {
    margin: 0 0 30px 0;
    padding: 1em;
    font-weight: 400;
    font-size: 95%;
  }
  section .timeline .cbp_tmtimeline > li .cbp_tmlabel:after {
    right: auto;
    left: 20px;
    border-right-color: transparent;
    border-bottom-color: #D3D1C8;
    top: -20px;
  }
  section .timeline .cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
    border-right-color: transparent;
    border-bottom-color: #D3D1C8;
  }
  section .timeline .cbp_tmtimeline > li .cbp_tmicon {
    position: relative;
    float: right;
    left: auto;
    margin: -55px 5px 0 0px;
  }
}

.category {
  text-align: center;
  margin: 20px 0;
}
.category ul {
  list-style-type: none;
}
.category ul li {
  display: inline-block;
  margin: 5px 10px;
  padding: 0 10px;
  cursor: pointer;
  color: #a80000;
}
.category ul li:hover {
  border-bottom: 1px solid #F46B6B;
}
.category ul li.active {
  color: #cc0000;
  border-bottom: 1px solid #F46B6B;
}

.sessionDescBox {
  display: none;
  position: fixed;
  height: 500px;
  overflow-y: auto;
  width: 60%;
  top: 50%;
  left: 50%;
  margin-left: -30%;
  margin-top: -250px;
  z-index: 9999;
  padding: 50px;
  background: #fff url("../images/ignite_logo.png") no-repeat bottom right;
  background-size: 140px 60px;
}
@media screen and (max-width: 767px) {
  .sessionDescBox {
    padding: 10px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin-top: 0;
    margin-left: 0;
    background: #fff;
    z-index: 99999999;
  }
}
.sessionDescBox .closeIcon {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 30px;
  cursor: pointer;
}
.sessionDescBox p {
  text-align: justify;
}
.sessionDescBox .scheduledTime {
  margin: 15px 0;
}
.sessionDescBox .speakers {
  margin: 15px 0;
}
.sessionDescBox .speakers .spkImage {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 5px;
  border-radius: 50px;
  position: relative;
}
.sessionDescBox .speakers .spkImage .spkName {
  position: absolute;
  left: 0;
  bottom: -20px;
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: #555;
}
